In [7]:
import pandas as pd

ĐỌC FILE

In [8]:
stocks1=pd.read_csv('C:/17A3KHDL/LAB03/DATA/stocks1.csv')

KIỂM TRA XEM STOCKS1 CÓ NULL HAY KHÔNG

In [9]:
data_null=stocks1.isnull().sum()
print('1.Số lượng data = Null trong mỗi cột là :')
print(data_null)
tong_null=stocks1.isnull().sum().sum()
print('Tổng số giá trị Null trong stocks1 là :',tong_null)

1.Số lượng data = Null trong mỗi cột là :
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64
Tổng số giá trị Null trong stocks1 là : 4

THAY THẾ DỮ LIỆU NULL Ở CỘT HIGH

In [10]:
trung_binh_high=stocks1['high'].mean()
print("Dữ liệu trung bình ở cột 'hight' là :",trung_binh_high)
stocks1['high'].fillna(trung_binh_high,inplace=True)
print("\nDữ liệu sau khi được thay thế Null ở cột 'high' là :")
print(stocks1['high'])

Dữ liệu trung bình ở cột 'hight' là : 943.5115384615384

Dữ liệu sau khi được thay thế Null ở cột 'high' là :
0     1674.260000
1     1709.430000
2     1707.800000
3      943.511538
4     1669.750000
5      175.150000
6      177.750000
7      176.000000
8      175.490000
9      174.440000
10    1142.970000
11    1158.280000
12     943.511538
13    1167.570000
14    1156.760000
Name: high, dtype: float64

THAY THẾ DỮ LIỆU Ở CỘT LOW

In [11]:
trung_binh_low=stocks1['low'].mean()
print("Dữ liệu trung bình ở cột 'low' là :",trung_binh_low)
stocks1['low'].fillna(trung_binh_low,inplace=True)
print("\nDữ liệu sau khi được thay thế Null ở cột 'low' là :")
print(stocks1['low'])

Dữ liệu trung bình ở cột 'low' là : 926.7753846153846

Dữ liệu sau khi được thay thế Null ở cột 'low' là :
0     1651.000000
1     1674.360000
2     1689.010000
3      926.775385
4     1620.510000
5      172.890000
6      173.970000
7      174.540000
8      173.940000
9      172.020000
10    1124.750000
11    1130.690000
12     926.775385
13    1155.490000
14    1134.910000
Name: low, dtype: float64

HIỂN THỊ THÔNG TIN TỔNG QUAN XÁC NHẬN KHÔNG CÒN DỮ LIỆU NULL

In [12]:
print('Thông tin tổng quan là :')
print(stocks1.info())

Thông tin tổng quan là :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 968.0+ bytes
None